# ignore everything
*

# except:
!.gitignore
!LICENSE
!.extend.Xresources
!.mozilla/firefox/chrome/*
!.extend.xprofile
!.config/compton.conf
!.config/mpv/mpv.conf
!.config/nvim/ginit.vim
!.emacs
!.notmuch-config
!.offlineimap.py
!.offlineimaprc
!.xbindkeysrc
!.emacs
!.i3/*
!.config/astroid/*
!.config/fish/*
!.config/whipper/*
!.cmus/*
*~
